<!DOCTYPE HTML >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>art-template-web demo</title>
    <script src="template-web.js"></script>
</head>
<body>

<h2>1、带数组的json数据 && if</h2>
<div id="content"></div>
<script id="test" type="text/html">
    {{if isAdmin}}
    <span style="font-size: larger">{{title}}</span>
    <ul>
        {{each list as value index}}
        <li>索引：{{index}}:{{value}}</li>
        {{/each}}
    </ul>
    {{/if}}
</script>
<script>
    var data = {
        title: 'HELLO WORLD',
        isAdmin: true,
        list: ['新闻', '军事', '历史', '政治']  //data不能是纯属组
    };
    var html = template('test', data);
    document.getElementById("content").innerHTML = html;
</script>
<hr/>

<h2>2、数组中包含对象的json数据</h2>
<div id="container1"></div>
<script type="text/html" id="div">
    <span>{{name}}</span>
    <ul>
        {{each lang}}
        <li>语言:{{$value.title}} 定义:{{$value.add}}</li>
        {{/each}}
    </ul>
</script>
<script type="text/javascript">
    var data = {
        name: "前端语言",
        lang: [{
            title: "html",
            add: "超文本标记语言"
        }, {
            title: "css",
            add: "层叠样式表"
        }, {
            title: "javaScript",
            add: "添加动态特效"
        }]
    }
    var html = template('div', data);
    document.getElementById("container1").innerHTML = html;
</script>
<hr/>

<h2>3、两层循环，并使用父属性</h2>
<div id="container2"></div>
<script type="text/html" id="div2">
    <span>{{name}}</span>
    <ul>
        {{each lang as value index}}
        <li>{{index}}
            {{each value.list as value2 index2}}
            <p>{{value2.title}}</p>
            {{/each}}
            <p>{{name}}</p>
        </li>
        {{/each}}
    </ul>
</script>
<script type="text/javascript">
    var data = {
        name: "前端语言",
        lang: [
            {
                list: [
                    {
                        title: "html",
                        add: "超文本标记语言"
                    },
                    {
                        title: "html",
                        add: "超文本标记语言"
                    },
                    {
                        title: "html",
                        add: "超文本标记语言"
                    }
                ]
            }
            , {
                list: [
                    {
                        title: "html2",
                        add: "超文本标记语言"
                    },
                    {
                        title: "html2",
                        add: "超文本标记语言"
                    },
                    {
                        title: "html2",
                        add: "超文本标记语言"
                    }
                ]
            }, {
                list: [
                    {
                        title: "html3",
                        add: "超文本标记语言"
                    },
                    {
                        title: "html3",
                        add: "超文本标记语言"
                    },
                    {
                        title: "html3",
                        add: "超文本标记语言"
                    }
                ]
            }
        ]
    }
    var html = template('div2', data);
    document.getElementById("container2").innerHTML = html;
</script>


<h2>4、no-escape 不转义HTML</h2>
<div id="div_noescape"></div>
<script id="no_escape" type="text/html">
    <p>不转义：{{#text}}</p>
    <p>默认转义： {{text}}</p>
</script>
<script>
    var data_noEscape = {
        text: '<span style="color:#F00">hello world!</span>'
    };
    var html_noescape = template("no_escape", data_noEscape);
    document.getElementById("div_noescape").innerHTML = html_noescape;
</script>
<hr/>

<h2>5、子模板(include)</h2>
<div id="contentSub"></div>
<script id="testSub" type="text/html">
    <h4>{{title}}</h4>
    {{include 'list'}}
</script>
<script id="list" type="text/html">
    <ul>
        {{each list value i}}
        <li>索引 {{i + 1}} ：{{value}}</li>
        {{/each}}
    </ul>
</script>
<script>
    var data = {
        title: '嵌入子模板',
        list: ['文艺', '博客', '摄影', '电影', '民谣', '旅行', '吉他']
    };
    var html = template('testSub', data);
    document.getElementById('contentSub').innerHTML = html;
</script>
<hr/>

<h2>6、辅助方法||过滤器 && prin t</h2>
<div id="container3"></div>
<script type="text/html" id="template88">
    {{print time}}
    <h4>{{ 100 | fn :'level' }}</h4>
</script>
<script>
    template.defaults.imports.fn = function (a, b) {
        if (b == 'level') {
            return a > 90 ? '优' : '中';
        }
    };
    var data = {
        time: 1408536771253,
    };
    var html = template('template88', data);  //这边必须传递数据，不然会乱码
    document.getElementById("container3").innerHTML = html;
</script>
<hr/>

<h2>7、template.compile应用</h2>
<div id="container"></div>
<script type="text/javascript">
    var data = {
        name: 'template.compile应用'

    }
    var source = '<span>{{name}}</span>';
    var render = template.compile(source);
    var html = render(data);
    document.getElementById("container").innerHTML = html;
</script>
<hr/>

<h2>8、错误捕获（请打开控制台）</h2>
<script id="testRunErro" type="text/html">
    <ul>
        {{each list}}
        {{/each}}

        {{window.alert=null}}
    </ul>
</script>

<script>
    var html = '';
    html = template('testRunErro', {});
    document.write(html);
</script>
<hr/>

<h2>9、错误捕获（请打开控制台）</h2>
<script id="testCmpError" type="text/html">
    {{2 a ba d}}
</script>

<script>
    var html = '';
    html = template('testCmpError', {});
    document.write(html);
</script>
<pr/>

<h2>10、子模板传值</h2>
<div id="containerSub"></div>
<script id="web" type="text/html">
    　　<a href="{{url}}">{{name}}</a>
    　　<br>
</script>
<script id="book" type="text/html">
    　　<img src="{{url}}" alt="">
    　　<br>
    　　
    <div>{{name}}</div>
</script>
<script id="recommend" type="text/html">
    {{if items.length === 0}}
    　　<h4>抱歉,未找到推荐的相关内容</h4>
    {{else}}
    　　<h4>{{title}}:{{items.length}}个</h4>
    {{each items as item index}}
    　　{{if item.type == 'web'}}
    　　　　{{include 'web' item}}
    　　{{else}}
    　　　　{{include 'book' item}}<!--include用于引入子模块  'book'模块的id   item传递过去的数据-->
    　　{{/if}}
    　　{{/each}}
    {{/if}}
</script>
<script>
    var data =
        {
            title: '推荐的书籍和网站',
            items: [
                {
                    type: 'web',
                    name: 'github',
                    url: 'https://github.com'
                },
                {
                    type: 'book',
                    name: '平凡的世界',
                    url: 'https://avatars2.githubusercontent.com/u/17819623?v=4&s=460'
                },
                {
                    type: 'web',
                    name: 'google',
                    url: 'https://google.com'
                }
            ]
        }
    var result = template('recommend', data);
    document.getElementById("containerSub").innerHTML = result;
</script>
</body>
</html>